#blogTitle {
    margin: auto;
    margin-left: 0px;
    vertical-align: middle;
    top: 40%;
}

#addBlogContainer {
    border: none;
    box-shadow: none;
}

#blogPostContainer {
    margin: 5px 5px 5px 5px;
}